<div class="container">
  <div class="primary_title">
    <h2>
      בית הכנסת ובית מדרש
      <br />
      <span class="highlight-container">
        <span class="highlight">
          <h3 class="primary_title_span">טוקאר סינגוגה</h3>
        </span>
      </span>
      <br />
      צפת
      <br />
      <span class="primary_title_owner"
        >על שם אבותינו ואמותינו היקרים למשפחות טוקאר - בכר</span
      >
    </h2>
  </div>
  <img
    loading="lazy"
    src="../assets/images/gallery/gallery (14).jpeg"
    class="primary_image"
  />
  <div class="primary_footer"></div>
</div>
