<div class="container" id="about" >
  <div class="wrapper">
  <ul dir="rtl">
    <li>
      <p>
        בית הכנסת נוסד בשנת התשפ"ג – 2023, ע"י משה טוקאר, לזכרם של הסבים והסבתות שלו - שושלת המשפחות המפוארת טוקאר (מצד האב) ובכר (מצד האם), שהוא נצר שלהם.
       </p>
    </li>
    <li>
      <p>
        לאחר עבודת מחקר מאומצת, שארכה שנים, שרטט משה אילן יוחסין מפואר עד שבעה דורות (יותר מ-100 שנה), מצד אביו ואמו. והחליט להנציח את יקירי המשפחות מהדורות האחרונים, וייסד את בית הכנסת שמהווה מרכז למורשת והנצחה למשפחות.
      </p>
    </li>
    <li>
      <p>
        בני המשפחות רשומים על גבי לוח הנצחה בכותלו המערבי של בית הכנסת. זאת בנוסף לספר שהוציא לאור, ובו תמונות ופרטים היסטוריים של כל בני המשפחה מהדורות האחרונים. הספר הודפס וחולק בין קרובי המשפחה הרבים צאצאי השושלת.
      </p>
    </li>
    <li>
      <p>
        מלבד לתפילות והמתקיימות בבית הכנסת דבר יום ביומו, בהם משתתפים ציבור תושבי העיר (בעיקר דיירי הפרויקט), בית הכנסת פועל באמצעות עמותה, אשר מרכזת פעילות חסד והעצמה לקהילה, לזכרם של המשפחות.
      </p>
    </li>
    <li>
      <p>
        בין הפעילויות, שיעורי תורה קבועים, ופעילויות חיזוק וקירוב לבבות לבני נוער.
      </p>
    </li>
    <li>
      <p>
        בקרוב יוקם במקום מקווה טהרה.
      </p>
    </li>
  </ul>
</div>
</div>
