
<footer>
  <div class="border-top"></div>
<div class="footer">
<div class="row">
<a href="tel:053-5600-138"><i class="fa fa-phone"></i></a>
<a href="https://api.whatsapp.com/send?phone=972538056033"><i class="fa fa-whatsapp"></i></a>
</div>

<div class="row">
<h4>כתובת: בניין פרויוקט 'שער צפת' רח' צה"ל 13 צפת</h4>
<h4 class="contact_tel"> צרו עמנו קשר: <a href="tel:053-8056-033"> 053-8056-033 </a> | <a href="tel:052-6100-138"> 052-6100-138 </a></h4>
<p><a href="mailto:moshe@tokar.co.il">moshe@tokar.co.il</a></p>

</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.4749158104173!2d35.49488422584315!3d32.96486997436479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c23908c676eaf%3A0x46054ec4ca9cc76!2z16bXlCLXnCAxMywg16bXpNeq!5e0!3m2!1siw!2sil!4v1684784792124!5m2!1siw!2sil" width="200" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<div class="row">
Copyright © 2023 - All rights reserved || Designed By: Meni-web
</div>
</div>
</footer>
