


<div class="wrapper">
	<div class="container">
		<div class="horizontal"><img  src="../../../assets/images/gallery/gallery (5).jpeg" alt=""></div>
		<div class="vertical"><img  src="../../../assets/images/gallery/gallery (1).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/gallery (2).jpeg" alt=""></div>
		<div class="big"><img   src="../../../assets/images/gallery/gallery (3).jpeg" alt=""></div>
		<div class="vertical"><img  src="../../../assets/images/gallery/gallery (4).jpeg" alt=""></div>
		<div class="horizontal"><img  src="../../../assets/images/gallery/gallery (6).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/zefat.jpg" alt=""></div>
		<div class="horizontal"><img  src="../../../assets/images/gallery/gallery (7).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/sefer-tora.jpg" alt=""></div>
		<div><img src="../../../assets/images/gallery/hollines.jpg" alt=""></div>
	</div>
</div>
