


<div class="wrapper" id="gallery">
	<div class="container">
		<div class="horizontal"><img  src="../../../assets/images/gallery/gallery (5).jpeg" alt=""></div>
		<div class="vertical"><img  src="../../../assets/images/gallery/gallery (1).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/gallery (2).jpeg" alt=""></div>
		<div class="big"><img   src="../../../assets/images/gallery/gallery (13).jpeg" alt=""></div>
		<div class="vertical"><img  src="../../../assets/images/gallery/gallery (4).jpeg" alt=""></div>
		<div class="horizontal"><img  src="../../../assets/images/gallery/gallery (6).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/zefat.jpg" alt=""></div>
		<div class="horizontal"><img  src="../../../assets/images/gallery/gallery (7).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/sefer-tora.jpg" alt=""></div>
    <div class="vertical"><img src="../../../assets/images/gallery/gallery (10).jpeg" alt=""></div>
		<div><img src="../../../assets/images/gallery/gallery (8).jpeg" alt=""></div>
    <div><img src="../../../assets/images/gallery/hollines.jpg" alt=""></div>
    <div class="horizontal"><img src="../../../assets/images/gallery/gallery (9).jpeg" alt=""></div>
    <div><img src="../../../assets/images/gallery/gallery (11).jpeg" alt=""></div>
    <div class="horizontal"><img src="../../../assets/images/gallery/gallery (12).jpeg" alt=""></div>
    <div class="big"><img src="../../../assets/images/gallery/gallery (15).jpeg" alt=""></div>
    <div class="horizontal"><img src="../../../assets/images/gallery/gallery (3).jpeg" alt=""></div>
    <div class="horizontal"><img src="../../../assets/images/gallery/gallery (14).jpeg" alt=""></div>
    <div class="horizontal"><img src="../../../assets/images/gallery/gallery (16).jpeg" alt=""></div>

	</div>
</div>
